
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ABES EC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" href="tablestyle.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src = "https://unpkg.com/read-excel-file@4.x/bundle/read-excel-file.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bootstrap/5.2.3/css/bootsrap.min.css">
    
    <script>
      
      var oOneA = 0,oOneB = 0,oOneC = 0,oTwoA = 0,oTwoB = 0,oTwoC = 0,oTwoD = 0, oTwoE = 0,
      oThreeA = 0,OThreeB = 0,OTotalSum = 0, countOneA = 0, countOneB = 0, countOneC = 0, countTwoA = 0,
      countTwoB = 0, countTwoC = 0, countTwoD = 0, countTwoE = 0, countThreeA = 0, countThreeB = 0;

      function callvalue(){
        var iOneA = document.getElementById("oneA").value;
        oOneA = oOneA + iOneA;
        if(ioneA > 1.56){
          countOneA = countOneA + 1;
          document.getElementById("result").value = countOneA;
          console.log(countOneA)
        }
        else{
          countOneA = countOneA + 0;
          console.log(countOneA);
        }

        var ioneB = document.getElementById("oneB").value;
        oOneB = oOneB + ioneB;
        if(ioneB > 1.56){
          countOneB = countOneB + 1;
        }

        var ioneC = document.getElementById("oneC").value;
        oOneC = oOneC + ioneC;
        if(ioneC > 1.56){
          countOneC = countOneC + 1;
        }

        document.writeln("Total 1a number: " + oOneA);
        document.writeln("Number of Students more than target number of question 1a: " + countOneA);
        console.log(oOneA);

        document.writeln("Total 1b number: " + oOneB);
        document.writeln("Number of Students more than target number of question 1b: " + countOneB);
        console.log(oOneB);

        document.writeln("Total 1c number: " + oOneC);
        document.writeln("Number of Students more than target number of question 1c: " + countOneC);
        console.log(oOneC);


        
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://abes.ac.in/">ABES EC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/article">ABOUT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SESSION
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/services">2022-23</a></li>
                  <li><a class="dropdown-item" href="/services">2021-22</a></li>
                  <li><hr class="dropdown-divider"></li>
                  
                </ul>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/upload">SHEET UPLOAD</a>
              </li>
            </ul>
            
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form> -->
          </div>
          <!-- <div class="mx-2">
            <button class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#LoginModal">LOGIN</button>
            <button class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#SignUpModal">SIGN UP</button>

        </div> -->
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CURRICULUM
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/services">Curriculum Settings</a></li>
                <li><a class="dropdown-item" href="/D:\Final Year Project\LOGIN PAGE\courseform.html">Course</a></li>
                <li><a class="dropdown-item" href="/services">Course Outcome(CO)</a></li>
                <li><a class="dropdown-item" href="/services">CO to PO Mapping (Course Wise)</a></li>
                <!-- <li><a class="dropdown-item" href="/services">Manage Topic & TLOs</a></li>
                <li><a class="dropdown-item" href="/services">Manage Lab Experiment & TLOs</a></li> -->
                <li><hr class="dropdown-divider"></li>
                
              </ul>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">ATTAINMENT</a>
              </li>
              
              <li class="nav-item">
                
                <a class="nav-link" href="/article">ASSESSMENT</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/article">REPORTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/article">SURVEY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/article">FACULTY CONTRIBUTION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/article">UTILITIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/article">SWITCH</a>
                </li>
              </li>
            
              
            </ul>
            
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>


      <nav class="navbar navbar-expand-lg navbar-pink text-bg-danger">
        <div class="container-fluid">
    
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CURRICULUM
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2019-23</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2020-24</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2021-25</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2022-26</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2023-27</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2024-28</a></li>
                <li><hr class="dropdown-divider"></li>
                
              </ul>
        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  TERM
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/services">3-Semester</a></li>
                <li><a class="dropdown-item" href="/services">4-Semester</a></li>
                <li><a class="dropdown-item" href="/services">5-Semester</a></li>
                <li><a class="dropdown-item" href="/services">6-Semester</a></li>
                <li><a class="dropdown-item" href="/services">7-Semester</a></li>
                <li><a class="dropdown-item" href="/services">8-Semester</a></li>
                <li><hr class="dropdown-divider"></li>
                
              </ul>
              
              </ul>
          <!-- </div> -->

          <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  TERM
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2019-23</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2020-24</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2021-25</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2022-26</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2023-27</a></li>
                <li><a class="dropdown-item" href="/services">B.TECH in EN 2024-28</a></li>
                <li><hr class="dropdown-divider"></li>
                
              </ul>
            </ul>
          </div> -->

          

           <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
          <a href="/courseadd">add1</a>
          {% comment %} <a href="/add1">add1</a> {% endcomment %}
          {% comment %} <button type="button" class="btn btn-success" style="margin:5px;">Add</button>  {% endcomment %}
        </div>
        </div>
      </nav>
      {% comment %} <a href="/add">add</a> {% endcomment %}
      {% block content%}
      <table class="table table-bordered" style="margin: 3%; width: fit-content;" >

        <thead>
          <tr>
            {% comment %} <th scope="col">S.NO.</th> {% endcomment %}
            <th scope="col">Code</th>
            <th scope="col">Course Title</th>
            <th scope="col">Core/Elective</th>
            <th scope="col">Total Marks</th>
            <th scope="col">Course Owner</th>
            <th scope="col">Course Reviewer</th>
            <th scope="col">Mode</th>
            <th scope="col">Manage Section/Course Instructor</th>
            <th scope="col">Edit/Delete</th>


          </tr>
        </thead>
        
        <tbody>
          {% for n in courseTableData %}
          <tr>
            
            <td><strong>{{n.course_code}}</strong></td>
            <td>{{n.course_title}}</td>
            <td>{{n.course_core_elective}}</td>
            <td>{{n.course_marks}}</td>
            <td>{{n.course_owner}}</td>
            <td>{{n.course_reviewer}}</td>
            <td>{{n.course_mode}}</td>
            <td>{{n.course_instructor}}</td>
            <td><a href="/edit">edit</a></td>
            {% comment %} <td><a href = "/edit" target="_blank">edit</a></td> {% endcomment %}
            
          </tr>
          {% endfor %}
        </tbody>
        
      </table>
      
      {% endblock %}
  

      {% comment %} <input type="file" id="myFile" name="filename">
      <input type="submit">
      <div class = "table"></div>
      <script>
        let table = document.querySelector(".table");
        (
          async() =>{
            let workbook = XLSX.read(await(await fetch("./excel.xlsx")).arrayBuffer());
            console.log(workbook);
          }
        ) {% endcomment %}


        <div class="container">
          <input type = "file" name ="" id="file-input" accept=".xlsx" required>
          <table class="table table-bordered" id="excel-table">

          </table>
        </div>



        {% comment %} <form enctype="multipart/form-data">
          <input id="upload" type=file   accept="text/html/excel" name="files[]" size=30>
          </form>
          
          <textarea class="form-control" rows=35 cols=120 id="ms_word_filtered_html"></textarea>
          
          <script>
          function handleFileSelect(evt) {
              let files = evt.target.files; // FileList object
          
              // use the 1st file from the list
              let f = files[0];
              
              let reader = new FileReader();
          
              // Closure to capture the file information.
              reader.onload = (function(theFile) {
                  return function(e) {
                    
                    jQuery( '#ms_word_filtered_html' ).val( e.target.result );
                  };
                })(f);
          
                // Read in the image file as a data URL.
                reader.readAsText(f);
            }
          
            document.getElementById('upload').addEventListener('change', handleFileSelect, false);
          </script> {% endcomment %}

{% comment %} 
    <form>
      <h3> Student1 </h3><br>

      Q-1-a : <input type = "number" id = "oneA" ><br>
      Q-1-b : <input type = "number" id = "oneB" ><br>
      Q-1-c : <input type = "number" id = "oneC" ><br>
      Q-2-a : <input type = "number" id = "twoA" ><br>
      Q-2-b : <input type = "number" id = "twoB" ><br>
      Q-2-c : <input type = "number" id = "twoC" ><br>
      Q-2-d : <input type = "number" id = "twoD" ><br>
      Q-2-e : <input type = "number" id = "twoE" ><br>
      Q-3-a : <input type = "number" id = "threeA" ><br>
      Q-3-b : <input type = "number" id = "threeB" ><br>


      <h3> Student2 </h3><br>

      Q-1-a : <input type = "number" id = "oneA" ><br>
      Q-1-b : <input type = "number" id = "oneB" ><br>
      Q-1-c : <input type = "number" id = "oneC" ><br>
      Q-2-a : <input type = "number" id = "twoA" ><br>
      Q-2-b : <input type = "number" id = "twoB" ><br>
      Q-2-c : <input type = "number" id = "twoC" ><br>
      Q-2-d : <input type = "number" id = "twoD" ><br>
      Q-2-e : <input type = "number" id = "twoE" ><br>
      Q-3-a : <input type = "number" id = "threeA" ><br>
      Q-3-b : <input type = "number" id = "threeB" ><br>

      <br>
      <button calculate = "callvalue();"> calculate</button>

      <h3> Output Aayega </h3>
      <input type = "text" id ="result"><br>

      <br>
      

    </form> {% endcomment %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <script>
    const input = document.getElementById('file-input');
    const table = document.getElementById('excel-table');

    let array_for_1a = [];
                let array_for_1b = [];
                let array_for_1c = [];
                let array_for_2a = [];
                let array_for_2b = [];
                let array_for_2c = [];
                let array_for_2d = [];
                let array_for_2e = [];
                let array_for_3a = [];
                let array_for_3b = [];
 
    input.addEventListener('change', (event) => {
        const file = event.target.files[0];
 
        readXlsxFile(file).then((rows) => {
            // Clear the table
            table.innerHTML = '';
 
            // Add the rows to the table
            
            rows.forEach((row) => {
                const tr = document.createElement('tr');
                let arr = [];
                
                row.forEach((cell) => {
                    const td = document.createElement('td');
                    td.textContent = cell;
                    tr.appendChild(td);
                    arr.push(cell);

                });
                
                table.appendChild(tr);
                //console.log(arr);
                array_for_1a.push(arr[2]);
                array_for_1b.push(arr[3]);
                array_for_1c.push(arr[4]);
                array_for_2a.push(arr[5]);
                array_for_2b.push(arr[6]);
                array_for_2c.push(arr[7]);
                array_for_2d.push(arr[8]);
                array_for_2e.push(arr[9]);
                array_for_3a.push(arr[10]);
                array_for_3b.push(arr[11]);

                
            });
            
        });
        let target_greater_count_1a = 0, total_attempted_count_1a = 0;
        let target_greater_count_1b = 0, total_attempted_count_1b = 0;
        let target_greater_count_1c = 0, total_attempted_count_1c = 0;
        let target_greater_count_2a = 0, total_attempted_count_2a = 0;
        let target_greater_count_2b = 0, total_attempted_count_2b = 0;
        let target_greater_count_2c = 0, total_attempted_count_2c = 0;
        let target_greater_count_2d = 0, total_attempted_count_2d = 0;
        let target_greater_count_2e = 0, total_attempted_count_2e = 0;
        let target_greater_count_3a = 0, total_attempted_count_3a = 0;
        let target_greater_count_3b = 0, total_attempted_count_3b = 0;
        console.log(array_for_1a );
        let gfg = 0;

        for (const entry of Array.prototype.values.call(array_for_1a)) {
          console.log(entry);
        }

        /*
        const values = array_for_1a.values();
        console.log(values);
        for (const letter of values) {
          console.log(letter);
        }
        */
        //var iterator = array_for_1a.values();
        //console.log(iterator.next().value);
        /*
        let aLen = array_for_1a.length;
        const iterator = array_for_1a.values();
        console.log(iterator);
        console.log(iterator.next().values);
        console.log(iterator.next().value);
        console.log(iterator.next().value);
        console.log(iterator.next().value);
        for (const value of iterator) {
          console.log(value);
        }
        */
        /*
        console.log(array_for_1a[1]);
        let text = 0;
        for (let i = 2; i < aLen; i++) {
          console.log("Might this gets worked!!")
          text += array_for_1a[i];
        }

        console.log(text);
        */
        


        /*
        console.log(array_for_1a[9]);
        for (let i in array_for_1a ) {
          console.log(array_for_1a[i]);
          gfg += array_for_1a[i] +'\n';

        }
        console.log(gfg);
        */
        /*
        for (let i = 0; i < array_for_1a.length; i++) {
          console.log('aryan', array_for_1a[i]);
          if(array_for_1a[i] >= 1.56){
            target_greater_count_1a++;
          }
          if(array_for_1a[i] != null){
            total_attempted_count_1a++;
          }
        }
        console.log(total_attempted_count_1a);
        console.log(target_greater_count_1a);
        */
    });
</script>
  {% comment %} <script src ="script.js"></script> {% endcomment %}
</html>